/* GLOBAL CONFIG */
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font-size: 17px;
  font-family: "Segoe WP Light", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

.container {
  padding: 0 130px;
}

/* ICON */
@font-face {
  font-family: "icomoon";
  src: url("fonts/icomoon.eot?2i55sq");
  src: url("fonts/icomoon.eot?2i55sq#iefix") format("embedded-opentype"),
    url("fonts/icomoon.ttf?2i55sq") format("truetype"),
    url("fonts/icomoon.woff?2i55sq") format("woff"),
    url("fonts/icomoon.svg?2i55sq#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-lock:before {
  content: "\e902";
  font-size: 80px;
  color: #ffffff;
}
.icon-search:before {
  content: "\e901";
  font-size: 80px;
  color: #ffffff;
}
.icon-monitor:before {
  content: "\e900";
  color: #8ad1ce;
  font-size: 60px;
}
.icon-cart:before {
  content: "\e93a";
  font-size: 25px;
  background: #259d8e;
  padding: 12px 15px;
}
.icon-cart1:before {
  content: "\e93a";
  font-size: 25px;
  background: #3edac6;
  padding: 12px 15px;
}
.icon-mobile:before {
  content: "\e958";
  color: #8ad1ce;
  font-size: 60px;
}
.icon-tablet:before {
  content: "\e959";
  color: #8ad1ce;
  font-size: 60px;
}
.icon-switch:before {
  content: "\e9b6";
  font-size: 80px;
  color: #ffffff;
}
.icon-earth:before {
  content: "\e9ca";
  font-size: 50px;
  padding-right: 10px;
  color: #a9e1dd;
}
.icon-star:before {
  content: "\e9d7";
  font-size: 80px;
  color: #ffffff;
}
.icon-apple:before {
  content: "\eabe";
  font-size: 80px;
  color: #ffffff;
}
.icon-shopping:before {
  content: "\e903";
  font-size: 80px;
  color: #ffffff;
}

/* HEADER */
.header {
  padding: 18.5px 0;
}

.logo-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu li {
  padding: 0 17px;
  border-right: 1px solid #8e8e8e;
}

.nav-menu li:last-child {
  border-right: none;
}

.nav-menu a {
  color: #8e8e8e;
  font-size: 19px;
}

.nav-menu a:hover {
  color: #0fc3ae;
}

/* MAIN */
.main {
  flex-grow: 1;
}

.banner {
  padding-bottom: 121px;
  background: url(img/banner.png) no-repeat;
  position: relative;
}

.box-monitor,
.box-tablet,
.box-mobile {
  cursor: pointer;
  padding: 30px;
  position: absolute;
}

.box-monitor {
  background: #079e96;
  right: 240px;
}

.box-tablet {
  background: #048a8a;
  right: 120px;
}

.box-mobile {
  background: #017e82;
  right: 0;
}

.box-border::before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
}

.box-border::before {
  border-color: rgba(136, 183, 213, 0);
  border-top-color: #017e82;
  border-width: 15px;
  margin-left: -15px;
}

.text-on-banner {
  padding: 180px 0 0 675px;
  color: #ffffff;
}

.map-text {
  font-size: 21px;
  line-height: 1.1;
  text-transform: uppercase;
  display: flex;
  padding-bottom: 60px;
}

.title h2 {
  font-size: 39px;
  text-transform: uppercase;
}

.title h3 {
  font-size: 17px;
  padding: 5px 0 35px 3px;
}

.buy {
  width: 170px;
  padding: 12px 20px 12px 0;
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  background: #54d3c3;
  cursor: pointer;
}

.buy:hover {
  background: #259d8e;
}

.icon-cart {
  transform: rotateY(180deg);
}

/* ABOUT */
.about {
  padding: 45px 0 120px;
}
.about-text {
  font-size: 15px;
  color: #818181;
  text-align: center;
  padding: 0 30px 45px 70px;
}

.about-text p {
  line-height: 1.5;
}

.about-text h1 {
  font-size: 41px;
  color: #636363;
  padding-bottom: 30px;
}

.about-background {
  height: 421px;
  background: url(/img/about.png) no-repeat;
  background-position-x: 55%;
}

/* SEC3 */
.sec3 {
  background: linear-gradient(to right, #006269, #099e94);
}

.boxs-all {
  display: flex;
  align-items: center;
}

.shell {
  padding: 45px 71.5px;
  cursor: pointer;
}

.box-search {
  background: #01646c;
}

.box-switch {
  background: #097b84;
}

.box-apple {
  background: #118f99;
}

.box-shopping {
  background: #1da0aa;
}

.box-lock {
  background: #29b7c2;
}

.box-star {
  background: #3ccad5;
}

.sec3 img {
  padding: 120px 0 75px 45px;
}

.text-on-sec3 {
  padding-top: 180px;
  color: #ffffff;
}

.img-text {
  display: flex;
}

.title2 h2 {
  font-size: 39px;
  text-transform: uppercase;
}

.title2 h3 {
  font-size: 17px;
  padding: 5px 0 35px 3px;
}

.buy2 {
  width: 170px;
  padding: 12px 20px 12px 0;
  display: flex;
  justify-content: space-between;
  font-size: 21px;
  background: #06ccb3;
  cursor: pointer;
}

.buy2:hover {
  background: #259d8e;
}

.icon-cart1 {
  transform: rotateY(180deg);
}

/* SEC4 */
.sec4 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.str1 {
  background: #49d7b0;
  padding: 139px 155px;
}

.text5 {
  color: #49d7b0;
  
  padding: 0 180px 0 240px;
  text-transform: uppercase;
}

.text5 h2 {
  font-weight: bold;
  font-size: 200px;
}

.text5 p {
  font-size: 68px;
}


/* FOOTER */
.footer {
  font-size: 23px;
  color: #979797 ;
  border-top: 1px solid #dedede;
  padding: 38.5px 0;
  text-align: center;
}